* {
    background-color: bisque;
}

.parent-div {
    width: 90%;
}

div {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    float: right;
    margin-right: 50px;
    margin-bottom: 50px;
}

.red-circle {
    background-color: red;
}

.green-circle {
    background-color: green;
}

.blue-circle {
    background-color: blue;
}

button {
    clear: right;
}

.add-button {
    width: 50px;
    height: 50px;
    background-color: green;
}

.add-button:hover {
    width: 55px;
    height: 55px;
}

.sub-button {
    width: 50px;
    height: 50px;
    background-color: red;
}

.sub-button:hover {
    width: 55px;
    height: 55px;
}